# this is a toy project
DB_URL="postgres://postgres:postgres@localhost:5432/chirpy?sslmode=disable"
PLATFORM="dev"
# you can generate the jwt secret with $ openssl rand -base64 64
JWT_SECRET="SZwALnlxBVhbm88x6L8saiC8KZcV/06HE9Fm2nHQBhiOBPPp1rZ3iXUUYe8xhYYjuFkg0g0A0Rg4Pq4Y1yGUVA=="
POLKA_KEY=f271c81ff7084ee5b99a5091b42d486e
